{% extends 'cadastro_evento/base.html' %}
{% load static %}
{% block conteudo %}
<div class="content">
  <div id="calendar" style="padding: 1rem;"></div>

  <!-- FullCalendar via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const calendarEl = document.getElementById('calendar');

      const calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'pt-br',
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        buttonText: {
          today: 'Hoje',
        },
        views: {
          listMonth: { buttonText: 'lista' },
          dayGridMonth: { buttonText: 'mês' },
          timeGridWeek: { buttonText: 'semana' },
          timeGridDay: { buttonText: 'dia' },
        },
        events: '{% url "events_json" %}'
      });

      calendar.render();
    });
  </script>
</div>
{% endblock %}
